<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net>
    <appender name="Console" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level: %message%newline" />
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="StarLab.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="50MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date %-5level[%logger]: %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="Console" />
      <appender-ref ref="RollingFileAppender" />
    </root>
  </log4net>
  <AppSettings>
    <Workspace>D:\Users\Colin\Documents\GitHub\starlab\StarLab.UI\Resources\Workspace-1.slw</Workspace>
    <Views>
      <View name="AboutView" type="dialog">
        <ChildView view="StarLab.Application.Help.AboutView, StarLab.UI" presenter="StarLab.Application.Help.AboutViewPresenter, StarLab.Presentation"/>
      </View>
      <View name="AddDocumentView" type="dialog">
        <ChildView view="StarLab.Application.Workspace.Documents.AddDocumentView, StarLab.UI" presenter="StarLab.Application.Workspace.Documents.AddDocumentViewPresenter, StarLab.Presentation"/>
      </View>
      <View name="ColourMagnitudeChartView" type="document">
        <ChildViews>
          <ChildView name="ChartSettingsView" panel="1" view="StarLab.Application.Workspace.Documents.Charts.ChartSettingsView, StarLab.UI" presenter="StarLab.Application.Workspace.Documents.Charts.ChartSettingsViewPresenter, StarLab.Presentation"/>
          <ChildView name="ChartView" panel="2" view="StarLab.Application.Workspace.Documents.Charts.ChartView, StarLab.UI" presenter="StarLab.Application.Workspace.Documents.Charts.ColourMagnitudeChartViewPresenter, StarLab.Presentation"/>
        </ChildViews>
      </View>
      <View name="OptionsView" type="dialog">
        <ChildView view="StarLab.Application.Options.OptionsView, StarLab.UI" presenter="StarLab.Application.Options.OptionsViewPresenter, StarLab.Presentation"/>
      </View>
      <View name="WorkspaceExplorerView" type="tool">
        <ChildView view="StarLab.Application.Workspace.WorkspaceExplorer.WorkspaceExplorerView, StarLab.UI" presenter="StarLab.Application.Workspace.WorkspaceExplorer.WorkspaceExplorerViewPresenter, StarLab.Presentation"/>
      </View>
      <View name="WorkspaceView" type="application"/>
    </Views>
  </AppSettings>
</configuration>

